.Modal {
    position: fixed;
    z-index: 500;
    background-color: #fcf6b1;
    width: 70%;
    border: 1px solid #fcf6b1;
    box-shadow: 1px 1px 1px #fcf6b1;
    padding: 16px;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    border-radius: 10px;
    -webkit-border-radius: 10p;
    -moz-border-radius: 10p;
    -ms-border-radius: 10p;
    -o-border-radius: 10p;
}

.Modal ul {
    list-style: none;
}

.Modal ul li::before {
    content: "\2022";
    color: #f7b32b;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}