.Logo {
    background-color: #fcf6b1;
    padding: 8px;
    height: 100%;
    box-sizing: border-box;
    border-radius: 5px;
}

.Logo img {
    height: 100%;
}

@media (min-width: 500px) {
    .Logo {
        background-color: #fff;
    }
}